<!doctype html>
<html>
<head>
<title>Login</title>
</head>
<style>
body{
     background-image:url("https://tse4.mm.bing.net/th?id=OIP.ExEtXUggZG4IiL7kowYW0wHaE8&pid=Api&P=0");
     background-repeat:no repeat;
     background-size:cover;
     }
</style> 
<form>
<center>
<h1><b>SIGNIN</h1></b><br><br></br></br>
<label>username</label>
<input type="text"name="pri"required placeholder="username"><br></br><br></br>
<label>password</label>
<input type="password"name="pwd"required placeholder="password"><br>
<input type="submit"value="Enter">
<label></label>
<label></label>
<p> OR<a href={{url_for('signup')}} style='font-family:verdana' >SIGN UP</a>
<center>

</form>
</body>
</html>
