<signup>
    <html>
    <head>
    <title>sign up</title>
    </head>
    <style>
    body{
         background-image:url("https://tse4.mm.bing.net/th?id=OIP.ExEtXUggZG4IiL7kowYW0wHaE8&pid=Api&P=0");
         background-repeat:no repeat;
         background-size:cover;
         }
    </style> 
    <form>
    <center>
    <h1><b>SIGN UP</h1></b><br><br></br></br>
    <label>FirstName</label>
    <input type="text"name="pri"required placeholder="firstname"><br></br><br></br>
    <label>LastName</label>
    <input type="text"name="pri"required placeholder="lastname"><br></br><br></br>
    <label>Emailid</label>
    <input type="email id"name="mail id"required placeholder="ajsh@bdgmail.com"<br><br></br></br>
    <label>username</label>
    <input type="username"name="raj"required placeholder="username"><br><br></br></br>
    <label>password</label>
    <input type="password"name="pwd"required placeholder="password"><br><br></br></br>
    <input type="submit"value="sign up ">
    <label></label>
    <p>Already have a account?<a href="signin.html"target="_blank">LOGIN</a>
    <center>
    
    </form>
    </body>
    </html>
    